@import "tailwindcss";

:root {
  --background-color: #e2d3ce;
}

body {
  background-color: var(--background-color);
  max-width: 1110px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
